@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

.header {
    margin: 0px;
    width: 1340px;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px 120px 25px 120px;
    border-bottom: 1px solid #A1A6B4;
}

.header-line {
    width: 1340px;
    height: 1px;
    background-color: #A1A6B4;
}

.header-links {
    margin-left: auto;
    justify-self: flex-end;
    align-items: center;
}

.header-logo {
    width: 200px;
    height: 100px;
    justify-self: flex-start;
    align-items: center;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

.li-1 {
    margin: 0px;
}

.ul-1 {
    padding: 0px;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Anonymous Pro", serif;
}

body {
    background-color: #F1F1F1;
    margin: 0px;
}

.content {
    padding: 32px 120px 32px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 115px;
}

.sneakers {
    background-color: white;
    width: 371px;
    height: 457.16px;
    overflow: hidden;
    perspective: 1px;
    border-radius: 12px;
    transition: all 200ms ease-out;
}

.animation:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px 1px #8f8d8d;
}

.frame {
    background-color: white;
    padding: 32px 24px 32px 24px;
}

img {
    width: 371px;
    height: 254px;
}

p {
    font-size: 20px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-size: 48px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0px;
}

h2 {
    font-size: 26px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    width: 1340px;
    height: 140px;
    color: white;
    background-color: #121723;
    padding: 25px 120px 25px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 298px;
    height: 22px;
    justify-self: start;
}

.footer-links {
    margin-left: auto;
    justify-self: flex-end;
}

.footer-text {
    color: #A1A6B4;
    align-self: center;
    padding-top: 15px;
}

.footer-high {
    width: 1340px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(230, 232, 236, 0.40);
}

.content-sneaker-big {
    padding: 32px 150px 32px 150px;
    display: flex;
}

.sneaker-big {
    width: 1200px;
    background-color: white;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 32px 150px 32px 150px;
    border-radius: 50px;
}

.sneaker-big__additional-info {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}

.sneaker-big__text {
    width: 520px;
}

.parameters {
    width: 520px;
}

.caption {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: "Anonymous Pro", serif;
}

td {
    width: 260px;
}

tr {
    display: block;
    border-bottom: 1px solid black;
    padding: 24px 0px 24px 0px;
    font-family: "Anonymous Pro", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    text-align: right;
}

table {
    width: 520px;
}

h3 {
    font-family: "Anonymous Pro", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sneaker-big__text {
    font-family: "Anonymous Pro", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.sneaker-img-1 {
    width: 883.5px;
    height: 500px;
    align-self: center;
}

.sneaker-img-2 {
    width: 732.3px;
    height: 500px;
    align-self: center;
}

.sneaker-img-3 {
    width: 716.5px;
    height: 500px;
    align-self: center;
}

.header-img {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 430px) and (max-height: 932px) {
    .header {
        width: 690px;
        height: 190px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
    }

    .header-logo {
        display: flex;
        justify-self: center;
        width: 250px;
        height: 125px;
    }

    .header-img {
        width: 250px;
        height: 125px;
    }

    .header-links {
        display: flex;
        justify-self: center;
        margin: 0px;
    }

    .footer {
        width: 690px;
        height: 190px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
    }

    .footer-high {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .footer-text {
        padding: 0px;
    }

    .footer-logo {
        display: flex;
        justify-self: center;
    }

    .footer-links {
        display: flex;
        justify-self: center;
        margin: 0px;
    }

    .sneaker-big__additional-info {
        display: flex;
        flex-direction: column;
        align-self: center;
        row-gap: 40px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        margin: auto;
        row-gap: 40px;
    }

    .content {
        display: flex;
        row-gap: 40px;
        width: 690px;
        padding: 30px 10px 30px 10px;
    }

    h1 {
        justify-self: center;
    }

    .sneakers {
        width: 557px;
        height: 687px;
    }

    img {
        width: 557px;
        height: 381.34px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }

    a:active,
    a:hover,
    a {
        font-size: 30px;
    }

    .sneaker-big {
        width: 630px;
        padding: 30px 10px 30px 10px;
        margin: 20px 20px 20px 20px;
        display: flex;
    }

    .sneaker-img-1 {
        width: 630px;
        height: 357px;
    }

    .sneaker-img-2 {
        width: 630px;
        height: 430.33px;
    }

    .sneaker-img-3 {
        width: 630px;
        height: 440px;
    }

    .sneaker-big__text {
        font-size: 35px;
    }

    .caption td {
        font-size: 45px;
    }

    td {
        font-size: 35px;
    }

    h3 {
        font-size: 40px;
    }

    .footer-logo {
        width: 406px;
        height: 30px;
    }
}