.header {
    margin: 0px;
    width: 1340px;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px 120px 25px 120px;
    border-bottom: 1px solid #A1A6B4;
}

.header-line {
    width: 1340px;
    height: 1px;
    background-color: #A1A6B4;
}

.header-links {
    margin-left: auto;
    justify-self: flex-end;
}

.header-logo {
    width: 200px;
    height: 100px;
    justify-self: flex-start;
}

ul li {
    display: inline;
    margin-left: 25px;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Anonymous Pro", serif;
}

body {
    background-color: #F1F1F1;
    margin: 0px;
}

.content {
    padding: 25px 120px 25px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 115px;
}

.sneakers {
    background-color: white;
    overflow: hidden;
    perspective: 1px;
    border-radius: 12px;
    width: 371;
}

.animation:hover {
    transition: box-shadow 400ms ease-out;
    transition: transform 150ms ease-out;
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px 1px #8f8d8d;
}

.frame {
    background-color: white;
    padding: 32px 24px 32px 24px;
}

img {
    width: 371px;
    height: 254px;
}

p {
    font-size: 20px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-size: 48px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0px;
}

h2 {
    font-size: 26px;
    font-family: "Anonymous Pro", serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    width: 1340px;
    height: 140px;
    color: white;
    background-color: #121723;
    padding: 25px 120px 25px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 298px;
    height: 22px;
    justify-self: start;
}

.footer-links {
    margin-left: auto;
    justify-self: flex-end;
}

.footer-text {
    color: #A1A6B4;
    align-self: center;
    padding-top: 15px;
}

.footer-high {
    width: 1340px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(230, 232, 236, 0.40);
}

.content-sneaker-big {
    padding: 32px 150px 32px 150px;
    display: flex;
}

.sneaker-big {
    width: 1200px;
    background-color: white;
    padding: 48px;
    justify-content: center;
    margin: 32px 150px 32px 150px;
    border-radius: 50px;
}

.sneaker-big__additional-info {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
}

.sneaker-big__text {
    width: 520px;
}

.parameters {
    width: 520px;
}

.caption {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: "Anonymous Pro", serif;
}

td {
    width: 260px;
}

tr {
    display: block;
    border-bottom: 1px solid black;
    padding: 24px 0px 24px 0px;
    font-family: "Anonymous Pro", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    text-align: right;
}

table {
    width: 520px;
}

h3 {
    font-family: "Anonymous Pro", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
}

.sneaker-big__text {
    font-family: "Anonymous Pro", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.sneaker-img {
    width: 1044px;
    height: 728px;
    display: flex;
    justify-self: center;
}